
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(113, 170, 146), rgb(230, 210, 167));
    font-family: 'Poppins', sans-serif;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
